<% if ['usres', 'roles', 'groups'].include?(controller_name) && action_name == 'edit' %>
  <%= javascript_include_tag 'global_roles', plugin: :global_roles %>
  <%= stylesheet_link_tag 'global_roles', plugin: :global_roles %>
  <%= javascript_include_tag 'users_by_roles', plugin: :global_roles %>
<% end %>

<% if controller.controller_name == 'roles' && %w(new show edit).include?(controller.action_name) && @role %>
  <script type="text/javascript">
    RMPlus.GlobalRoles = (function (my) {
      var my = my || {};
      my.permissions = JSON.parse('<%= escape_javascript(@role.setable_permissions.inject({}) { |res, it| res[it.name] = { actions: it.actions, desc: it.description }; res }.to_json.html_safe) %>');
      my.lbl_routes = '<%= escape_javascript(l(:gr_label_routes_html)) %>';
      return my;
    })(RMPlus.GlobalRoles || {});

  </script>
  <%= javascript_include_tag :permissions, plugin: :global_roles %>
<% end %>