<% if params[:query_group] == 'queries' %>
  <%= eq_render_sidebar_queries(@klass, @project) %>
<% elsif params[:query_group] == 'categories' %>
  <%= eq_render_categories_links(@klass, @project) %>
<% end %>