<%= form_tag({controller: 'roles', action: 'update_user_projects_by_role', id: @role.id}, {method: :put, remote: true, class: 'member-projects-form'}) do %>
  <p>
    <% @projects.each do |project| %>
      <% deletable = true %>
      <% in_project = false %>
      <% role_for_project = MemberRole.joins(:member).where(members: {project_id: project.id, user_id: @principal.id}, role_id: @role.id).first %>


      <% in_project = true if role_for_project %>
      <% deletable = false if role_for_project && role_for_project.inherited_from.to_i > 0 %>

      <label><%= check_box_tag 'membership[project_ids][]', project.id, in_project, disabled: !deletable %>
        <%=h project %>
      </label><br />
    <% end %>
  </p>
  <%= hidden_field_tag 'membership[principal_id]', @principal.id, id: 'edit_user_projects_by_role_principal_id' %>
  <p>
    <%= submit_tag l(:button_change), class: 'small' %>
    <%= link_to l(:button_cancel), "#", class: 'in_link projects-form-cancel' %>
  </p>
<% end %>