$('#principal-<%= @principal.id %>-projects').html('<%= escape_javascript( render partial: 'user_projects_for_role_form') %>').show();

$('#principal-<%= @principal.id %> .glr-projects-names').hide();