a.eq-no-line,
a.eq-no-line:hover {
  border-bottom: none;
  text-decoration: none;
}
a.eq-close {
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  opacity: 0.4;
}

.eq-close:hover,
.eq-close:focus {
  color: #000;
  cursor: pointer;
  opacity: 0.7;
}

table.eq-filters-table {
  width: 100%;
  border-spacing: 0;
}


table.eq-filters-table td {
  padding: 0;
}

.eq-query-fieldset {
  border-width: 1px 0 0 0;
}

.eq-query-fieldset legend {
  padding: 0 5px;
}
.eq-select2 {
  width: 300px;
}

.eq-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
a.eq-button {
  margin-bottom: 5px;
  white-space: nowrap;
}
a.eq-button span {
  border-bottom-style: none;
}
div.eq-panel {
  margin-bottom: 10px;
}

div.eq-filter-buttons {
  padding: 10px;
  margin-top: 10px;
  border-top: #ccc solid 1px;
  text-align: right;
}
div.eq-filter-buttons a.eq-button {
  margin-right: 5px;
}
div.eq-filter-buttons a.eq-button:last-child {
  margin-right: 0;
}

.eq-columns-list {
  border: #ccc solid 1px;
  padding-top: 10px;
  min-height: 337px;
  min-width: 232px;
  /*display: inline-block;*/
}

a.eq-button .eq-caret {
  margin-top: 8px;
  margin-left: 5px;
}
div.eq-filter-operator {
  padding: 10px;
  padding-bottom: 0;
}
div.eq-filter-data {
  margin-top: 10px;
  border-top: #ccc solid 1px;
  padding: 0 10px;
  padding-top: 10px;
}
div.eq-filter-data:first-child {
  border: none;
  margin-top: 0;
  padding-top: 0;
}
div.eq-filter-data-list {
  margin-left: -10px;
  margin-right: -10px;
}

div.eq-filter-search {
  padding: 0 10px;
}
div.eq-filter-field,
div.eq-fields-list,
div.eq-another-list {
  padding: 0;
  border: #ccc solid 1px;
}

a.eq-button,
.eq-button {
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

a.eq-button,
a.eq-button:hover,
.eq-button,
.eq-button:hover {
  border-style: solid;
}

a.eq-button:hover,
a.eq-button:focus,
a.eq-button:active,
a.eq-button.active,
a.eq-button.disabled,
a.eq-button[disabled],
.eq-button:hover,
.eq-button:focus,
.eq-button:active,
.eq-button.active,
.eq-button.disabled,
.eq-button[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

a.eq-button:active,
a.eq-button.active,
.eq-button:active,
.eq-button.active {
  background-color: #cccccc \9;
}

a.eq-button:hover,
a.eq-button:focus,
.eq-button:hover,
.eq-button:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

a.eq-button:focus,
.eq-button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a.eq-button.active,
.eq-button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

a.eq-button.disabled,
a.eq-button[disabled],
.eq-button.disabled,
.eq-button[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.eq-button.open,
.eq-button.open {
  background-color: #e6e6e6;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

a.eq-button-small,
.eq-button-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.eq-button-small [class^="icon-"],
a.eq-button-small [class*=" icon-"],
.eq-button-small [class^="icon-"],
.eq-button-small [class*=" icon-"] {
  margin-top: 0;
}

a.eq-button-success,
.eq-button-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

a.eq-button-success:hover,
a.eq-button-success:focus,
a.eq-button-success:active,
a.eq-button-success.active,
a.eq-button-success.disabled,
a.eq-button-success[disabled],
.eq-button-success:hover,
.eq-button-success:focus,
.eq-button-success:active,
.eq-button-success.active,
.eq-button-success.disabled,
.eq-button-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.eq-filter-wrap {
  max-width: 250px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -5px;
}
.eq-filter-wrap .eq-field-operator,
.eq-filter-wrap .eq-field-values {
  color: #797979;
}

.eq-filter-delete {
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  line-height: 10px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.3;
}
.eq-filter-delete:hover,
.eq-filter-delete:focus {
  color:#000000;
  text-decoration:none;
  cursor:pointer;
  opacity:0.8;
  filter:alpha(opacity=40);
}

input.eq-search {
  width: 100%;
  padding: 4px 20px 4px 5px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAo0lEQVQ4y7WSUQ2AIBCGL4IRiGAEoxjBBkTwmSciGIEIRjCCEU7YfuaNwelkPnxDhPvkPyFmJudcyRCZMFKLVEuFIBWFCAsC3j8KZhScER+xGLNo1gQGhQee5cYRa2cZSQosvjI18ubTLS1Bzk0KaX3rFYTfIhhs0JrIWhPf/EbG/PEi7ZWLtNUkNUHGQCbj+FKiCVp4EdN8ESRWNPY+QQ/dggvAl0v7SYIpuAAAAABJRU5ErkJggg==) no-repeat 100% 4px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 2px;
}
.eq-filter-list-container {
  margin-top: 10px;
}
.eq-filter-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;
  margin: 0;
}
.eq-filter-list li {
  list-style-type: none;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 10px;
}
.eq-filter-list li.eq-filter-list-item:hover {
  background-color: #ffffdd;
}

.eq-filter-list li.eq-filter-list-group {
  font-weight: bold;
  padding: 5px;
}

.eq-out-search {
  display: none;
}
.eq-hidden-selected {
  display: none;
}
.eq-filter-list li label {
  display: block;
  padding: 5px 0;
}
.eq-filter-list li.eq-filter-list-custom-actions {
  padding: 5px 15px;
}
span.eq-value-text em {
  font-weight: bold;
  font-style: normal;
  background-color: #EF7F1A;
  color: #FFF;
  padding: 2px;
}
li.eq-filter-list-item.hide {
  display: none;
}



/* sidebar */

a.eq-pinning {
  margin-left: 5px;
  background: none no-repeat 0% 40%;
  padding-left: 10px;
  border-bottom: none;
  opacity: 0.5;
  display: inline;
}
a.eq-pinning:hover {
  border-bottom: none;
  opacity: 0.9;
}
.flyout-menu ul li a.eq-pinning {
  display: none;
}
a.eq-pin {
  background-image: url(../images/pin.png);
}
a.eq-unpin {
  background-image: url(../images/unpin.png);
}
.eq-sidebar-queries {
  margin-top: 5px;
  margin-right: 10px;
  border-width: 1px 0 0 0;
}
.eq-sidebar-queries legend span {
  font-size: 14px;
}
#sidebar .eq-sidebar-queries ul li {
  padding-bottom: 3px;
}

.eq-sidebar-queries.eq-sidebar-taggable-fieldset legend {
  padding-left: 16px;
}
.eq-sidebar-queries h3 {
  padding: 0 2px;
  font-weight: normal;
}
.eq-sidebar-queries .fa-refresh {
  display: none;
}
.eq-sidebar-taggable-fieldset legend {
  cursor: pointer;
  background: url(../../../images/arrow_collapsed.png) no-repeat 0% 40%;
}
.eq-sidebar-taggable-fieldset.expanded legend {
  background: url(../../../images/arrow_expanded.png) no-repeat 0% 40%;
}
.eq-sidebar-taggable-fieldset.loading legend {
  padding-left: 2px;
  background-image: none;
}
.eq-sidebar-taggable-fieldset.loading legend .fa-refresh {
  display: inline-block;
  margin-left: 2px;
}
#eq-sidebar-pinned-queries {
  padding-bottom: 7px;
}
#eq-sidebar-pinned-queries ul li {
  cursor: n-resize;
}
#eq-add-sort {
  margin-left: 10px;
  font-size: 10px;
}
.eq-global:after {
  content: "\f0ac";
  position: relative;
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  margin-left: 5px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#eq-sidebar-system-setting{
  margin-left: 13px;
}

#eq-sidebar-system-setting span{
  font-size: 10pt;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#eq-filter-params legend{
  font-size: 10pt;
}