ul.gr-routes {
  margin: 0;
}
.icon-inform {
  background-image: url(../images/inform.png);
}
label.one-name {
  display:block;
}

.glr-wide-input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input.find-filter {
  vertical-align: middle;
  width: 100%;
  height: 25px;
}

div.glr-list-container {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  max-height: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.glr-list-container input.glr-group {
  margin-right: 20px;
}

td.glr-group {
  padding-left: 20px !important;
  background: url(../../../images/group.png) no-repeat 2px 50%;
}

span.glr-group:before {
  content: "";
  background: url(../../../images/group.png) no-repeat 0 0;
  position: relative;
  width: 16px;
  height: 16px;
  top: 4px;
  padding-left: 2px;
  margin-left: 2px;
  display: inline-block;
}

#add_user_to_role {
  margin-top: 1em;
  margin-bottom: 1em;
}
#add_user_to_role[disabled] {
  color: #484848;
}

.glr-preloader {
  background: url("../images/loader.gif") no-repeat center;
  width: 100%;
  height: 200px;
}

div.glr-ajax_error {
  background: url("../images/widget_error.png") no-repeat center bottom;
  width: 100%;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}

div.glr-ajax_error_text {
  padding-top: 10px;
  text-align: center;
}



div.glr-no-project-selected {
  width: 94%;
  border: 1px solid #D00;
  margin: 4px 0px;
  padding: 2px 5px;
  background-color: #FFE3E3;
  color: #800;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
